:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #ffffff;
  --footer-address-color: rgba(255, 255, 255, 0.6);

  --bg-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;

  --btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--main-text-color);
  background-color: var(--bg-color);

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section.team {
  background-color: var(--second-bg-color);
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.header .address-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  margin-left: auto;
}

.site-nav .item:not(:first-child),
.header .address-nav .item:not(:first-child) {
  margin-left: 50px;
}

.logo {
  color: var(--title-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.blue-logo-part {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.section.advantages {
  padding-bottom: 0;
}

.hero {
  background-color: var(--dark-bg-color);
  text-align: center;
}

.hero-title {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .btn {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  margin-top: 30px;
  box-shadow: var(--btn-shadow);
}

.hero .btn:hover,
.hero .btn:focus {
  color: var(--title-color);
  background-color: var(--second-bg-color);
}

.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.item-title {
  color: var(--title-color);
}

.item-content {
  color: var(--main-text-color);
}

.advantages .list {
  display: flex;
  justify-content: space-between;
}

.advantages .item:not(:first-child) {
  margin-left: 30px;
}

.advantages .item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.advantages .item-content {
  margin-top: 10px;
}

.advantages .item-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
}

.competence .list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.team .list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.team .item {
  background: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.team .item-title {
  font-weight: 500;
  margin-top: 30px;
}

.team .item-content {
  margin-top: 10px;
  margin-bottom: 30px;
}

.team .item-title,
.team .item-content {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.filter .btn {
  color: var(--title-color);
  background-color: var(--second-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.filter .btn:hover,
.filter .btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: var(--btn-shadow);
}

.tab-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.tab-nav .item:not(:first-child) {
  margin-left: 8px;
}

.page-nav {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.page-nav .item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.half-border {
  padding: 20px 24px;
  background: var(--bg-color);
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.page-nav .item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.page-nav .item-content {
  font-size: 16px;
  line-height: 1.9;
  margin-top: 4px;
}

.footer {
  background-color: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .address-nav {
  color: var(--footer-address-color);
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.footer .address-nav .link {
  margin-top: 9px;
}

.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
}

.footer .address.map {
  color: var(--secondary-text-color);
}

.footer .logo {
  color: var(--secondary-text-color);
  margin-right: 0;
}

.footer .logo:hover,
.footer .logo:focus {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
